/* Footer General Styles */
.footer {
    background-image: url("../../assets/footer.jpg"); /* Add your footer image path */
    background-size: cover; /* Ensure the image covers the entire footer */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Avoid repeating the image */
    color: #ecf0f1;
    padding: 40px 0 10px 0;
    font-family: "Poppins", sans-serif;
    position: relative;
    z-index: 1;
}

/* Add a dark overlay for better text readability */
.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity for desired effect */
    z-index: -1;
}

.footer-container {
    display: flex;
    align-items: space-around;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    justify-content: center ;
    flex: 1;
    min-width: 250px;
    margin-bottom: 20px;
    /* border: 3px solid #f1c40f; */
}

.footer-logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #f1c40f;
}

.footer-column h3 {
    margin-bottom: 15px;
    color: #f1c40f;
    font-size: 1.2rem;
}

.footer-column p,
.footer-column a {
    font-size: 0.9rem;
    color: #bdc3c7;
    line-height: 1.8;
    text-decoration: none;
}

.footer-column a:hover {
    color: #f1c40f;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    transition: color 0.3s ease;
}

.social-icons a {
    display: inline-block;
    margin-right: 15px;
    font-size: 1.2rem;
    color: #ecf0f1;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
    color: #f1c40f;
    transform: scale(1.1);
}

/* Bottom Footer */
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #34495e;
    padding-top: 10px;
    font-size: 0.9rem;
    color: #bdc3c7;
}

/* Responsive Footer */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        margin-bottom: 30px;
    }
}
